<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    {% include 'head.html' %}
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Welcome to the about page!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aut facere ipsum harum provident quae nulla nam, ab aliquid ea eligendi non officiis illo earum cumque aspernatur dolorem quidem nostrum!</p>

    {% include 'body.html' %}
</body>
</html>