<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% include 'head.html' %}
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 login-container">
                <h1>Welcome to the login page!</h1>
                <p>Try "username", "password".</p>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url '/login' %}" method="POST">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                            <label class="form-label mt-3">Password</label>
                            <input type="text" class="form-control" name="password" placeholder="Password">
                            <button class="float-end btn btn-primary mt-3" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'body.html' %}
</body>
</html>